.git
.gitignore
.idea
.vscode
**/node_modules
**/dist
**/target
**/build
**/.gradle
**/test-results
**/playwright-report
**/*.log
**/.env
**/.env.*
!**/.env.example
!**/.env.docker.example
**/*service-account*.json
**/firebase-service-account.json
