<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name=".InvenBaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvenBase"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.InvenBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".EquipmentDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".BookingFormActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".CategoriesActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".UsersActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".ReportsActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".LogsActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />

        <activity
            android:name=".EquipmentFormActivity"
            android:exported="false"
            android:theme="@style/Theme.InvenBase" />
    </application>

</manifest>
